<?xml version="1.0" encoding="UTF-8"?>
<module>
    <moduleName>App.systemMGR.authCFG.operAuth.OperAuthUI</moduleName>  
    <files>
        <css/>
        <js>
        	<file>../../../login/store/LoginStore.js</file>
        	<file>store/OperAuthStore.js</file>
        	<file>ui/OperAuthUI.js</file>
        	<file>ui/crud/OperAuthRead.js</file>
        </js>
    </files>
</module>