<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<description>SpringMVC公共配置</description>

	<context:component-scan base-package="com.brevy.archetype" use-default-filters="false">
		<!-- 扫描符合@Controller的类 -->
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	

	<!-- 返回视图解析器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="contentNegotiationManager">
			<bean class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		    	<property name="mediaTypes">
		    		<props>
		    			<prop key="html">text/html</prop>
		    			<prop key="json">application/json</prop>
		    			<prop key="image">image/*</prop>
		    		</props>
		    	</property> 
		    	<property name="ignoreAcceptHeader" value="true"/>
			</bean>
		</property>
		<property name="viewResolvers">
			<list>
				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="prefix" value="/WEB-INF/views/" />
					<property name="suffix" value=".jsp" />
				</bean>
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<!-- json view -->
				<bean class="com.brevy.archetype.support.web.view.DefaultMappingJackson2JsonView">
					<property name="objectMapper" ref="objectMapper"/>
					<property name="messageSource" ref="messageSource"/>
				</bean>
				<!-- image view -->
				<bean class="com.brevy.archetype.support.web.view.ImageView"/>
			</list>
		</property>
	</bean>

	<!-- 属性编辑器 -->
	<bean id="defaultBindingInitializer" class="com.brevy.archetype.support.web.DefaultBindingInitializer">
		<!-- 候选日期模式 -->
        <property name="candidateDatePatterns">
        	<list>
        		<value>yyyy-MM-dd</value>
        		<value>yyyy-MM-dd HH:mm:ss</value>
        		<value>yyyyMMdd</value>
        		<value>yyyy/MM/dd</value>
        		<value>yyyy.MM.dd</value>
        	</list>
        </property>
	</bean>
	
	<!-- 注解映射处理适配器 -->
	<bean name="handlerAdapter" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<!-- 把自定义属性编辑器注册到框架 -->	
		<property name="webBindingInitializer" ref="defaultBindingInitializer"/>
		<!-- 消息转换器定义 -->
		<property name="messageConverters">
			<list>
				<ref bean="jsonHttpMessageConverter"/>
			</list>
		</property>
	</bean>
	
	<!-- 请求映射配置 -->
	<bean name="handlerMapping" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>


	<!-- 创建序列化/反序列化JSON的ObjectMapper(已修改优化对象的配置参数) -->
	<bean id="objectMapper" class="com.brevy.archetype.support.web.util.JsonUtils" factory-method="getObjectMapper"/>
	
	<!-- Http Message请求转换器 -->
	<bean name="jsonHttpMessageConverter" class="com.brevy.archetype.support.web.converter.DefaultMappingJackson2HttpMessageConverter">
		<property name="objectMapper" ref="objectMapper"/>
	</bean>
</beans>
