<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brevy.core.shiro.dao.ApUserMapper">
	<resultMap id="apUserResultMap"
		type="com.brevy.core.shiro.model.ApUserSingle">
		<id column="ID" property="id" />
		<result column="CH_NAME" property="chName" />
		<result column="POSITION_ID" property="positionId" />
		<result column="DEPT_ID" property="deptId" />
	</resultMap>


	<select id="findAll" resultMap="apUserResultMap">
		select 
			t.id,
			t.username, 
			t.gender,
			t.password,
			t.ch_name, 
			t.position_id, 
			t.dept_id, 
			t.status, 
			a.name as position, 
			b.name as dept 
		from 
			ap_user t 
			left join cad_dict_detail a on a.id=t.position_id 
			left join cad_dict_detail b on b.id=t.dept_id
	</select>
	
	
	<select id="searchByKeyword" parameterType="string" resultMap="apUserResultMap">
		select 
		 	t.id, 
			t.username, 
			t.gender,
			t.password,
			t.ch_name, 
			t.position_id, 
			t.dept_id,  
			t.status,
			a.name as position, 
			b.name as dept 
		from 
			ap_user t 
			left join cad_dict_detail a on a.id=t.position_id 
			left join cad_dict_detail b on b.id=t.dept_id
		where 
			lower(t.username) like lower(#{keyword})
			or 
			lower(t.ch_name) like lower(#{keyword})
			or 
			lower(a.name) like lower(#{keyword}) 
			or 
			lower(b.name) like lower(#{keyword})
	</select>
	
	<select id="findAllValidUsers" resultMap="apUserResultMap">
		select 
		 	t.id, 
			t.ch_name
		from 
			ap_user t 
		where 
			t.status='1'
	</select>

	
</mapper>