<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- 责任链模板 -->
	<bean name="chainTemplate" class="com.brevy.fw.common.pattern.chain.spring.template.ChainTemplate">
		<property name="chainExecutor" ref="chainExecutor"/>
	</bean>
	
	<!-- 责任链执行器 -->
	<bean name="chainExecutor" class="com.brevy.fw.common.pattern.chain.spring.ChainExecutorEx">
		<property name="chainIdPrefix" value="tran"/>
		<!-- 添加异常监听器测试 -->
		<property name="chainExceptionListener">
			<bean class="com.brevy.fw.common.pattern.chain.listener.DefaultChainExceptionListener"/>
		</property>
	</bean>
	
	<bean id="tranAll" class="com.brevy.fw.common.pattern.chain.spring.ChainEx">
		<property name="actions">
			<array>
				<ref local="step1"/>
				<ref local="step2"/>
				<ref local="step3"/>
			</array>
		</property>
		<!-- 单个action配置 -->
		<!-- <property name="action" ref="step1"/> -->
	</bean>
	
	<bean id="step1" class="com.brevy.fw.common.pattern.chain.action.Step1Action" />
	
	<!-- 添加拦截器测试 -->
	<bean id="step2" class="com.brevy.fw.common.pattern.chain.action.Step2Action" />

	<bean id="step3" class="com.brevy.fw.common.pattern.chain.action.Step3Action" />
	
	
</beans>