<?xml version="1.0" encoding="UTF-8"?>
<module>
    <moduleName>App.biz.cads.myTasks.gd.GDUI</moduleName>  
    <files>
        <css/>
        <js>
        	<file>store/GDStore.js</file>
        	<file>ui/crud/GDRead.js</file>
        	<file>ui/GDUI.js</file>
        </js>
    </files>
</module>