<?xml version="1.0" encoding="UTF-8"?>
<module>
    <moduleName>App.systemMGR.authCFG.funcMenu.FuncMenuUI</moduleName>  
    <files>
        <css/>
        <js>
        	<file>../../../login/store/LoginStore.js</file>
        	<file>store/FuncMenuStore.js</file>
        	<file>ui/FuncMenuUI.js</file>
        </js>
    </files>
</module>