/** Ext.ux.Spotlight **/
body {
	overflow: hidden;
}
.x-spotlight {
	background-color: #ccc;
	z-index: 8999;
	position: absolute;
	top: 0;
	left: 0;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity = 50);
	width: 0;
	height: 0;
	zoom: 1;
	font-size: 0;
}

/** Ext.ux.menu.StoreMenu **/
.loading-indicator {
  background: url(resources/extjs/themes/images/gray/grid/loading.gif) no-repeat;
  color:      #555;
  font:       bold 10px tahoma,arial,helvetica;
  padding:     0 0 0 32px;
  margin-top: 5px;
  display: inline-block;
  height: 20px;
}

/* Ext.ux.StatusBar */
.x-statusbar .x-status-text {
    cursor: default;

}
.x-statusbar .x-status-busy {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}

.x-toolbar div.xtb-text

.x-statusbar .x-status-text-panel {
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    padding: 2px 8px 2px 5px;
}

#word-status .x-status-text-panel .spacer {
    width: 60px;
    font-size:0;
    line-height:0;
}
#word-status .x-status-busy {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
#word-status .x-status-saved {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}

.x-statusbar .x-status-error {
    cursor: pointer;
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
.x-statusbar .x-status-valid {
    padding-left: 25px !important;
    background: transparent no-repeat 3px 0;
}
.x-status-error-list {
    font: 11px tahoma,arial,verdana,sans-serif;
    position: absolute;
    z-index: 9999;
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    padding: 5px 10px;
}
.x-status-error-list li {
    cursor: pointer;
    list-style: disc;
    margin-left: 10px;
}
.x-status-error-list li a {
    text-decoration: none;
}
.x-status-error-list li a:hover {
    text-decoration: underline;
}

.x-statusbar .x-status-busy {
    background-image: url(resources/extjs/images/ux/statusbar/loading.gif);
}
.x-statusbar .x-status-text-panel {
    border-color: #99bbe8 #fff #fff #99bbe8;
}

#word-status .x-status-text {
    color: #777;
}
#word-status .x-status-busy {
    background-image: url(resources/extjs/images/ux/statusbar/saving.gif);
}
#word-status .x-status-saved {
    background-image: url(resources/extjs/images/ux/statusbar/saved.png);
}

.x-statusbar .x-status-error {
    color: #C33;
    background-image: url(resources/extjs/images/ux/statusbar/exclamation.gif);
}
.x-statusbar .x-status-valid {
    background-image: url(resources/extjs/images/ux/statusbar/accept.png);
}
.x-status-error-list {
    border-color: #C33;
    background: white;
}
.x-status-error-list li a {
    color: #15428B;
}

/** Ext.ux.PasswordField **/
.ux-passwordfield-warning {background:url(resources/extjs/images/ux/passwordfield/warning.png) no-repeat left; padding: 2px; padding-left:20px; font-weight:bold;}

/** Ext.ux.IconCombo **/
.ux-icon-combo-icon {
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 18px;
    height: 14px;
}

/* X-BROWSER-WARNING: this is not being honored by Safari */
.ux-icon-combo-input {
    padding-left: 25px;
}

.x-form-item-body .ux-icon-combo-icon {
    top: 3px;
    left: 5px;
}
.ux-icon-combo-item {
    background-repeat: no-repeat ! important;
    background-position: 3px 50% ! important;
    padding-left: 24px ! important;
}

/* Ext.ux.form.field.ClearButton*/
.ext-ux-clearbutton {
    width: 12px;
    height: 12px;
    background-image: url(resources/extjs/images/ux/clearbutton/clear-text-icon.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
    cursor: pointer;
    position: absolute;
    overflow:  hidden; /* IE 6 :-( */
    margin-top: 4px;
    background-color: white;
}

.ext-ux-clearbutton-mouse-over-input {
    background-position: 0 -12px;
}

.ext-ux-clearbutton-mouse-over-button {
    background-position: 0 -24px;
}

.ext-ux-clearbutton-mouse-down {
    background-position: 0 -36px;
}

.ext-ux-clearbutton-on {
    opacity: 1;
    visibility: visible;
    transition: opacity .35s linear;
    -webkit-transition: opacity .35s linear;
    -moz-transition: opacity .35s linear;
    -o-transition: opacity .35s linear;
    -ms-transition: opacity .35s linear;
    -khtml-transition: opacity .35s linear;
}

.ext-ux-clearbutton-off {
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s linear, visibility .0s linear .35s;
    -webkit-transition: opacity .35s linear, visibility .0s linear .35s;
    -moz-transition: opacity .35s linear, visibility .0s linear .35s;
    -o-transition: opacity .35s linear, visibility .0s linear .35s;
    -ms-transition: opacity .35s linear, visibility .0s linear .35s;
    -khtml-transition: opacity .35s linear, visibility .0s linear .35s;
}

/** xt.ux.window.Notification **/
#instructions ul li {
	list-style-type:disc;
	list-style-position:outside;
	font-size:12px;
	margin:0px 0px 0px 20px;
}

/* Icons */
.ux-notification-icon-information {
	background-image: url(resources/extjs/images/ux/notification/icon16_info.png);
}

.ux-notification-icon-error {
	background-image: url(resources/extjs/images/ux/notification/icon16_error.png);
}


/* Using standard theme */
.ux-notification-window .x-window-body {
	text-align: center;
	padding: 15px 5px 15px 5px;
}


/* Custom styling */
.ux-notification-light .x-window-header {
	background-color: transparent;
}

body .ux-notification-light {
	background-image: url(resources/extjs/images/ux/notification/fader.png);
}

.ux-notification-light .x-window-body {
	text-align: center;
	padding: 15px 5px 20px 5px;
	background-color: transparent;
	border: 0px solid white;
}


/* clearbutton */
.ext-ux-clearbutton {
    width: 12px;
    height: 12px;
    background-image: url(resources/extjs/images/ux/clearbutton/clear-text-icon.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
    cursor: pointer;
    position: absolute;
    overflow:  hidden; /* IE 6 :-( */
    margin-top: 4px;
    background-color: white;
}

.ext-ux-clearbutton-mouse-over-input {
    background-position: 0 -12px;
}

.ext-ux-clearbutton-mouse-over-button {
    background-position: 0 -24px;
}

.ext-ux-clearbutton-mouse-down {
    background-position: 0 -36px;
}

.ext-ux-clearbutton-on {
    opacity: 1;
    visibility: visible;
    transition: opacity .35s linear;
    -webkit-transition: opacity .35s linear;
    -moz-transition: opacity .35s linear;
    -o-transition: opacity .35s linear;
    -ms-transition: opacity .35s linear;
    -khtml-transition: opacity .35s linear;
}

.ext-ux-clearbutton-off {
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s linear, visibility .0s linear .35s;
    -webkit-transition: opacity .35s linear, visibility .0s linear .35s;
    -moz-transition: opacity .35s linear, visibility .0s linear .35s;
    -o-transition: opacity .35s linear, visibility .0s linear .35s;
    -ms-transition: opacity .35s linear, visibility .0s linear .35s;
    -khtml-transition: opacity .35s linear, visibility .0s linear .35s;
}


/* password meter*/
.x-form-strengthmeter {
    width : 100%;
    float: right;
    background: #ff4c00; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNGMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VkZDcxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYWZmMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #ff4c00 0%, #edd712 50%, #1aff00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff4c00), color-stop(50%,#edd712), color-stop(100%,#1aff00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ff4c00 0%,#edd712 50%,#1aff00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ff4c00 0%,#edd712 50%,#1aff00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ff4c00 0%,#edd712 50%,#1aff00 100%); /* IE10+ */
    background: linear-gradient(left,  #ff4c00 0%,#edd712 50%,#1aff00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4c00', endColorstr='#1aff00',GradientType=1 ); /* IE6-8 */
}
 
.x-form-strengthmeter-scorebar {
    background-color: white;
    float: right;
    line-height: 6px;
    width: 100%;
}