<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
	xsi:schemaLocation="http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd 
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd">

	<description>WebService客户端定义</description>

	<!-- 超时设置 -->
	<http-conf:conduit name="*.http-conduit">
		<http-conf:client ConnectionTimeout="10000"
			ReceiveTimeout="30000" />
	</http-conf:conduit>

	<!-- ##### 客户端定义 ##### -->
	<!-- calculator client -->
	<jaxws:client name="calculatorClient"
		serviceClass="com.brevy.spring.cxf.ws.services.fc.calculator.CalculatorPortType"
		address="${ws.fc.calculator.addr}">
		<!-- add log -->
		<!-- <jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features> -->
	</jaxws:client>

	<!-- formula client -->
	<jaxws:client name="formulaClient"
		serviceClass="com.brevy.spring.cxf.ws.services.fc.formula.FormulaPortType"
		address="${ws.fc.formula.addr}" >	
	</jaxws:client>

	<!-- converter client -->
	<jaxws:client name="converterClient"
		serviceClass="com.brevy.spring.cxf.ws.services.fc.converter.ConverterPortType"
		address="${ws.fc.converter.addr}">
	</jaxws:client>
	
	<!-- calculator client * JMS transport  -->
	<jaxws:client name="jmsCalculatorClient" serviceClass="com.brevy.spring.cxf.ws.services.fc.calculator.CalculatorPortType"  address="jms://">
	    <jaxws:features>
	    	<ref bean="jmsConfigFeature"/>	
	    </jaxws:features>
	</jaxws:client>

</beans>